body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  margin: 0;
  padding: 40px 20px;
}
.App {
  text-align: center;
  padding: 20px;
}
.App h1 {
  color: darkcyan;
  margin-bottom: 10px;
}

/* Стили для компонента TodoList */
.todo-container {
  max-width: 500px;
  margin: 40px auto 40px;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 2px 10px darkcyan;
  border-radius: 10px;
  background-color: #f9f9f9;
  
}
.todo-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
} 

.todo-button {
  background-color: #007bff;
  color: aliceblue;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.todo-button:hover {
  background-color: #0056b3;
}

.todo-list {
  list-style: none;
  padding: 0;
  margin: 20px 0 0;
}

.todo-list li {
  padding: 10px;
  background-color: aliceblue;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  margin-top: 8px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter {
  text-align: center;
  margin-top: 20px;
  color: #c52828;
  font-size: 15px;
  font-style: italic;
}